---
import { ArrowUpRight } from '@lucide/astro';

const { title, href } = Astro.props;
---

{href ? (
  <a
    class="external-link underline-offset-4 hover:underline"
    href={href}
    target="_blank"
    rel="noreferrer"
  >
    <span>{title}</span>
    <ArrowUpRight aria-hidden="true" class="external-link__icon" />
  </a>
) : (
  title
)}
